[submodule "dependencies/ShapefileCpp"]
	path = dependencies/ShapefileCpp
	url = git@github.com:jericks/ShapefileCpp.git
[submodule "dependencies/shapelib"]
	path = dependencies/shapelib
	url = git@github.com:OSGeo/shapelib.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = git@github.com:g-truc/glm.git
